@page
@model PrivacyModel
@{
    ViewData["Title"] = "Contact";
}
<div>
    <h4>Contact</h4>
    <p><a href="https://github.com/paolosalvatori">Paolo Salvatori's GitHub account</a></p>
</div>

